<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Cave</title>
</head>
<body style="text-align: center;">
<h3>Cave Details</h3>
<p>
    <a th:href="@{/caves}">Back to caves list</a>
</p>
<form  th:object="${cave}" method="get">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table align="center">
        <!--<tr>-->
        <!--<th>Classify:</th>-->
        <!--<td> <label>Classify :</label><select th:field="*{notesType}">-->
        <!--<option th:each=" t : ${types}" th:value="${t.id}" th:text="${t.name}" ></option>-->
        <!--</select></td>-->
        <!--</tr>-->

        <tr>
            <td style="text-align: left">Name</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{name}" readonly/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Information</td>
            <td>
                <input rows="10" style="width: 300px; padding: 5px;" th:field="*{info}" readonly/>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">Phonenumber</td>
            <td>
                <input rows="10" style="width: 300px; padding: 5px;" th:field="*{phonenumber}" readonly/>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">Password</td>
            <td>
                <input rows="10" style="width: 300px; padding: 5px;" th:field="*{password}" readonly/>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td style="text-align: left">Category</td>-->
            <!--<td><label>-->
                <!--<input type="text" style="width: 300px; padding: 5px;" th:field="*{category}" readonly/>-->
            <!--</label></td>-->
        <!--</tr>-->
    </table>
</form>
</body>
</html>